{% extends '/cabinet/index.html.twig' %}

{% block title %}{{ parent() }} | Добавление формы{% endblock %}

{% block body %}
    <div class="col-lg-10 mx-auto p-4 py-md-5 ">
        <div class="d-flex flex-md-row align-items-center ">
            <form method="post" action="{{ path('app_cabinet_proposals_general_proposal') }}"
                  class="form-signin w-100 m-auto">
                {% if error %}
                    <twig:Alert
                            type="danger"
                            message="{{ error }}"
                    />
                {% endif %}
                <h1 class="h3 mb-3 font-weight-normal">Добавление формы</h1>
                <div class="form-group">
                    <div class="row g-4">
                        <div class="col-sm-3">
                            <label for="inputNumber">Номер</label>
                            <input type="text" value="{{ inputData.number }}" name="number" id="inputNumber"
                                   class="form-control"
                                   autocomplete="number" autofocus placeholder="Укажите номер..."
                                   minlength="1" maxlength="100"
                            >
                        </div>
                        <div class="col-sm-4">
                            <label for="inputDescription">Описание</label>
                            <textarea type="text" name="description" id="inputDescription"
                                      class="form-control"
                                      autocomplete="description"
                                      required placeholder="Укажите описание..."
                                      rows="3"
                                      maxlength="750">{{ inputData.description }}</textarea>
                        </div>
                        <div class="col-sm-4">
                            <label for="inputBasis">Основание</label>
                            <textarea type="text" name="basis" id="inputBasis"
                                      class="form-control"
                                      autocomplete="basis"
                                      required placeholder="Укажите основание..."
                                      rows="3"
                                      maxlength="750">{{ inputData.basis }}</textarea>
                        </div>
                        <div class="col-sm-2">
                            <label for="inputProjectArea" class="form-label">Площадь</label>
                            <div class="input-group">
                                <span class="input-group-text">м<sup>2</sup></span>
                                <input type="number" value="{{ inputData.projectArea }}" name="projectArea"
                                       id="inputProjectArea"
                                       class="form-control"
                                       autocomplete="inputProjectArea" required autofocus
                                       placeholder="Укажите площадь..."
                                       min="1" step="0.1"
                                >
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="inputLoss" class="form-label">Потери</label>
                            <div class="input-group">
                                <span class="input-group-text">%</span>
                                <input type="number" value="{{ inputData.loss??30 }}" name="loss"
                                       id="inputLoss"
                                       class="form-control"
                                       autocomplete="inputLoss" required autofocus
                                       placeholder="Укажите потери..."
                                >
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="inputProjectTitle">Объект</label>
                            <textarea type="text" name="projectTitle" id="inputProjectTitle"
                                      class="form-control"
                                      autocomplete="projectTitle"
                                      required placeholder="Укажите объект..."
                                      rows="3"
                                      maxlength="750">{{ inputData.projectTitle }}</textarea>
                        </div>
                        <div class="col-sm-4">
                            <label for="inputProjectStructureDescription">Элементы</label>
                            <textarea type="text" name="projectStructureDescription"
                                      id="inputProjectStructureDescription"
                                      class="form-control"
                                      autocomplete="projectStructureDescription"
                                      required placeholder="Укажите наименование элементов..."
                                      rows="3"
                                      maxlength="750">{{ inputData.projectStructureDescription }}</textarea>
                        </div>
                        <div class="col-md-12">
                            <label for="inputUnit" class="form-label">Ед. измерения</label>
                            <select class="form-select" id="inputUnit" name="unit" required>
                                <option value="Литр" selected hidden>Литр</option>
                                {% for unit in data.units %}
                                    <option
                                            {% if unit == inputData.unit %} selected {% endif %}
                                            value="{{ unit }}">{{ unit }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="inputDurability" class="form-label">Долговечность</label>
                            <select class="form-select" id="inputDurability" name="durability" required>
                                <option value="" selected disabled hidden>Укажите долговечность...</option>
                                {% for durability in data.durabilities %}
                                    <option {% if durability == inputData.durability %} selected {% endif %}
                                            value="{{ durability }}">{{ durability }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="inputCategory" class="form-label">Корр. категория</label>
                            <select class="form-select" id="inputCategory" name="category" required>
                                <option value="" selected disabled hidden>Укажите корр. категорию...</option>
                                {% for category in data.categories %}
                                    <option {% if category == inputData.category %} selected {% endif %}
                                            value="{{ category }}">{{ category }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="inputTreatment" class="form-label">Подготовка</label>
                            <select class="form-select" id="inputTreatment" name="treatment" required>
                                <option value="" selected disabled hidden>Укажите подготовку...</option>
                                {% for treatment in data.treatments %}
                                    <option {% if treatment == inputData.treatment %} selected {% endif %}
                                            value="{{ treatment }}">{{ treatment }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="inputMethod" class="form-label">Метод нанесения</label>
                            <select class="form-select" id="inputMethod" name="method" required>
                                <option value="" selected disabled hidden>Укажите метод нанесения...</option>
                                {% for method in data.methods %}
                                    <option {% if method == inputData.method %} selected {% endif %}
                                            value="{{ method }}">{{ method }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <hr>
                        <div class="col-md-12">
                            <label for="inputCoats" class="form-label">Покрытие</label>
                            <select class="form-select" id="inputCoats" name="coats[1][coatId]" required>
                                <option value="" selected disabled hidden>Укажите покрытие...</option>
                                {% for coat in coatings.coatings %}
                                    <option {% if coat.id == inputData.coats[1]["coatId"] %} selected {% endif %}
                                            value="{{ coat.id }}">{{ coat.title }} - {{ coat.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="inputCoatLoss" class="form-label">Потери</label>
                            <div class="input-group">
                                <span class="input-group-text">%</span>
                                <input type="number" value="{{ inputData.inputData.coats[1]["loss"]??null }}"
                                       name="coats[1][loss]"
                                       id="inputCoatLoss"
                                       class="form-control"
                                       autocomplete="inputCoatLoss" autofocus
                                       placeholder="Укажите потери..."
                                       min="1" step="5"
                                >
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="inputCoatPrice" class="form-label">Цена за ед. изм </label>
                            <div class="input-group">
                                <span class="input-group-text">₽</span>
                                <input type="number" value="{{ inputData.coats[1]["coatPrice"] }}"
                                       name="coats[1][coatPrice]"
                                       id="inputCoatPrice"
                                       class="form-control"
                                       autocomplete="inputCoatPrice" required autofocus
                                       placeholder="Укажите стоимость..."
                                       min="1" step="0.1"
                                >
                            </div>
                        </div>
                        <input type="number" value="{{ inputData.coats[1]["coatNumber"]??1 }}" hidden
                               name="coats[1][coatNumber]"
                               id="inputCoatNumber"
                               class="form-control"
                               autocomplete="inputCoatNumber" required autofocus
                               placeholder="Укажите стоимость..."
                               min="1" step="1"
                        >
                        <div class="col-sm-2">
                            <label for="inputCoatDft" class="form-label">ТСП</label>
                            <div class="input-group">
                                <span class="input-group-text">мкм</span>
                                <input type="number" value="{{ inputData.coats[1]["coatDft"] }}"
                                       name="coats[1][coatDft]"
                                       id="inputCoatDft"
                                       class="form-control"
                                       autocomplete="coatDft" required autofocus placeholder="Укажите тсп..."
                                       min="10" max="9999"
                                >
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="inputCoatColor" class="form-label">Оттенок</label>
                            <div class="input-group">
                                <input type="text" value="{{ inputData.coats[1]["coatColor"] }}"
                                       name="coats[1][coatColor]"
                                       id="inputCoatColor"
                                       class="form-control"
                                       autocomplete="coatColor" autofocus placeholder="Укажите цвет..."
                                       minlength="3" maxlength="100"
                                >
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="inputThinnerPrice" class="form-label">Цена р-ля за ед. изм </label>
                            <div class="input-group">
                                <span class="input-group-text">₽</span>
                                <input type="number" value="{{ inputData.coats[1]["thinnerPrice"] }}"
                                       name="coats[1][thinnerPrice]"
                                       id="inputThinnerPrice"
                                       class="form-control"
                                       autocomplete="inputThinnerPrice" autofocus
                                       placeholder="Укажите стоимость..."
                                       min="1" step="0.1"
                                >
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label for="inputThinnerConsumption" class="form-label">Расход р-ля</label>
                            <div class="input-group">
                                <span class="input-group-text">%</span>
                                <input type="number" value="{{ inputData.coats[1]["thinnerConsumption"] }}"
                                       name="coats[1][thinnerConsumption]"
                                       id="inputThinnerConsumption"
                                       class="form-control"
                                       autocomplete="inputThinnerConsumption" autofocus
                                       placeholder="Укажите расход..."
                                       min="1" step="0.1"
                                >
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <div class="btn-group me-2 w-100">
                    <button class="btn  btn-outline-success mt-2 mb-2" type="submit"
                            formaction="{{ path('app_cabinet_proposals_general_proposal',{add_item: true}) }}">
                        Добавить новый слой
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </div>

                <div class="d-flex flex-md-row">
                    <div class="d-flex justify-content-between align-items-center m-1">
                        <button class="btn btn-lg btn-primary mt-2" type="submit">
                            Добавить
                        </button>
                    </div>
                    <div class="d-flex justify-content-between align-items-center m-1">
                        <a class="btn btn-lg btn-outline-secondary mt-2"
                           href="{{ path('app_cabinet_proposals_general_proposal_list') }}">
                            Отменить
                        </a>
                    </div>
                </div>

            </form>
        </div>

    </div>
{% endblock %}
