{% extends '/cabinet/index.html.twig' %}

{% block title %}{{ parent() }} | Формы{% endblock %}

{% block body %}
    <div class="col-lg-10 mx-auto p-4 py-md-5 ">
        <div class="d-flex flex-md-row align-items-center ">
            <h2 class="text-body-emphasis">Формы</h2>
            <div class="btn-toolbar p-2 mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <a href="{{ path('app_cabinet_proposals_general_proposal') }}" type="button"
                       class="btn  btn-outline-success">
                        <i class="bi bi-plus-lg"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center">
            {% if result.proposals %}
                <div class="list-group w-100">
                    {% for proposal in result.proposals %}
                        <div class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{ proposal.number }}</h6>
                                    <p class="mb-0 opacity-75">{{ proposal.description }}</p>
                                    <p class="mb-0 opacity-75">{{ (proposal.updatedAt??proposal.createdAt)|timeAgo }}</p>

                                </div>
                                <div class="d-flex gap-2 mb-3">
                                    <a href="{{ path('app_cabinet_proposals_general_proposal_clone', {id: proposal.id}) }}" type="button" class="btn btn-outline-secondary">
                                        <i class="bi bi-back"></i>
                                    </a>
                                    {% include '/components/edit_delete.html.twig'
                                        with {
                                        'edit': 'app_cabinet_proposals_general_proposal_update',
                                        'delete':'app_cabinet_proposals_general_proposal_delete',
                                        'id': proposal.id,
                                        'title': proposal.number,
                                        'name': "форма"
                                    } %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include 'components/delete_modal.html.twig' with {'delete':'app_cabinet_proposals_general_proposal_delete'} %}

                {% include 'components/pager.html.twig' with {'pager': result.pager} %}
            {% else %}
                {% include 'components/empty.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
