<div class=" p-4 gap-4 py-md-5 align-items-center">
    {% set queryParams = app.request.query.all %}
    {#    <nav aria-label="Page navigation example"> #}
    {#        <ul class="pagination justify-content-center"> #}
    {#            <li class="page-item"> #}
    {#                {% set queryParams = queryParams|merge({page: pager.page-1}) %} #}
    {#                <a #}
    {#                        href="{{ path(app.request.get('_route'), {...queryParams}) }}" #}
    {#                        class="page-link {% if pager.page == 1 %} disabled {% endif %}" #}
    {#                        aria-label="Previous"> #}
    {#                    <i class="bi bi-arrow-left"></i> #}
    {#                </a> #}
    {#            </li> #}
    {#            {% for i in 1 .. pager.total_pages %} #}
    {#                {% set queryParams = queryParams|merge({page: loop.index}) %} #}
    {#                <li class="page-item {% if pager.page == loop.index %} active {% endif %}"><a #}
    {#                            class="page-link" #}
    {#                            href="{{ path(app.request.get('_route'), {...queryParams}) }}">{{ loop.index }}</a> #}
    {#                </li> #}
    {#            {% endfor %} #}
    {#            <li class="page-item"> #}
    {#                {% set queryParams = queryParams|merge({page: pager.page+1}) %} #}
    {#                <a class="page-link {% if pager.page * pager.perPage >= pager.total_items %} disabled {% endif %}" #}
    {#                   href="{{ path(app.request.get('_route'), {...queryParams}) }}" #}
    {#                   aria-label="Next"> #}
    {#                    <i class="bi bi-arrow-right"></i> #}
    {#                </a> #}
    {#            </li> #}
    {#        </ul> #}
    {#    </nav> #}
    {% set currentPage = pager.page %}
    {% set itemsPerPage = pager.perPage %}
    {% set totalItems = pager.total_items %}
    {% set totalPages = (totalItems / itemsPerPage)|round(0, 'ceil') %}

    {% set nearbyPagesLimit = 2 %}

    <nav>
        <ul class="pagination justify-content-center">
            {% set queryParams = queryParams|merge({page: pager.page-1}) %}
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(app.request.get('_route'), {...queryParams}) }}">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </li>
            {% endif %}

            {% for i in 1..totalPages %}
                {% set queryParams = queryParams|merge({page: loop.index}) %}
                {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %}
                {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %}
                {% else %}
                    <li class="page-item{% if currentPage == loop.index %} active{% endif %}">
                        <a class="page-link"
                           href="{{ path(app.request.get('_route'), {...queryParams}) }}">{{ loop.index }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if currentPage < totalPages %}
                {% set queryParams = queryParams|merge({page: pager.page+1}) %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(app.request.get('_route'), {...queryParams}) }}">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
