{% extends '/cabinet/index.html.twig' %}

{% block title %}{{ parent() }} | Покрытия{% endblock %}

{% block content %}
    <div class="col-lg-10 mx-auto p-2">
        <div class="d-flex flex-md-row align-items-center">
            <h2 class="text-body-emphasis">Поиск по материалам</h2>
        </div>
        <div class="flex-column flex-md-row gap-4 align-items-center">
            <div class="d-flex flex-md-row align-items-center ">
                <form method="get" action="{{ path('app_cabinet_document_list') }}"
                      class="form-signin w-100 m-auto">
                    <div class="input-group mb-3">
                        <input type="text" value="{{ inputData.search }}" name="search"
                               class="form-control"
                               autocomplete="search" required autofocus placeholder="РС 750, Прометей ..."
                               minlength="3" maxlength="50"
                        >
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Искать</button>
                    </div>
                </form>
            </div>
            <div class="d-flex flex-column flex-md-row gap-1">
                {% if countByCategory.result %}

                    {# Мобильная версия (горизонтальная, компактная) #}
                    <div class="d-block d-md-none mb-3">
                        <div class="d-flex flex-wrap gap-1 justify-content-between">
                            {# Кнопка "Все" #}
                            <a class="btn btn-sm flex-grow-1 {% if 'categories' not in app.request.query.all|keys %}btn-primary{% else %}btn-outline-primary{% endif %} position-relative"
                               href="{{ path('app_cabinet_document_list', {
                                   'search': app.request.query.get('search'),
                               }) }}"
                               style="min-width: calc(33% - 0.5rem); max-width: calc(33% - 0.5rem);">
                                Все
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill {% if 'categories' not in app.request.query.all|keys %}bg-light text-dark{% else %}bg-primary text-white{% endif %}">
                    {{ countByCategory.result.getTotalCount }}
                            </span>
                            </a>

                            {# Кнопки категорий (макс. 3 буквы) #}
                            {% for key, countCategory in countByCategory.result.categories %}
                                <a class="btn btn-sm flex-grow-1 {% if countCategory.category.name in app.request.query.all()['categories']|default([]) %}btn-primary{% else %}btn-outline-primary{% endif %} position-relative"
                                   href="{{ path('app_cabinet_document_list', {
                                       'search': app.request.query.get('search'),
                                       'categories[]': countCategory.category.name
                                   }) }}"
                                   style="min-width: calc(33% - 0.5rem); max-width: calc(33% - 0.5rem);"
                                   title="{{ countCategory.category.value }}">
                                    {{ countCategory.category.value|slice(0, 3) }}{% if countCategory.category.value|length > 3 %}...{% endif %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill {% if countCategory.category.name in app.request.query.all()['categories']|default([]) %}bg-light text-dark{% else %}bg-primary text-white{% endif %}">
                                {{ countCategory.count }}
                                </span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {# Десктопная версия (вертикальная) #}
                {% if countByCategory.result %}
                    <ul class="nav flex-column flex-shrink-0 pe-2 d-none d-md-block" style="width: 200px">
                        <li class="nav-item border rounded mb-1">
                            <a class="nav-link d-flex justify-content-between align-items-center
                {% if 'categories' not in app.request.query.all|keys %}
                    text-bg-secondary rounded-1
                {% endif %}"
                               href="{{ path('app_cabinet_document_list', {
                                   'search': app.request.query.get('search'),
                               }) }}">
                                Всего
                                <span class="badge bg-light text-dark">
                        {{ countByCategory.result.getTotalCount }}
                    </span>
                            </a>
                        </li>
                        {% for key, countCategory in countByCategory.result.categories %}
                            <li class="nav-item border rounded mb-1">
                                <a class="nav-link d-flex justify-content-between align-items-center
                                {% if countCategory.category.name in app.request.query.all()['categories']|default([]) %}
                                    text-bg-secondary rounded-1
                                {% endif %}"
                                   href="{{ path('app_cabinet_document_list', {
                                       'search': app.request.query.get('search'),
                                       'categories[]': countCategory.category.name
                                   }) }}">
                                    {{ countCategory.category.value }}
                                    <span class="badge bg-light text-dark">
                                        {{ countCategory.count }}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="flex-column flex-md-row gap-4 align-items-center flex-grow-1">
                    {% if result.documents %}
                        <div class="list-group gap-1">
                            {% for key, document in result.documents %}
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading{{ key }}">
                                            <button class="accordion-button collapsed row m-auto" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse{{ key }}" aria-expanded="false"
                                                    aria-controls="collapse{{ key }}">
                                                <div>
                                                    <span class="badge bg-primary">{{ document.category }}</span>
                                                    <h6 class="mb-0">{{ document.title|u.truncate(50, '...') }}</h6>
                                                    <p class="mb-0 opacity-75">{{ document.description|u.truncate(150, '...') }}</p>
                                                </div>
                                            </button>
                                        </h2>
                                        <div id="collapse{{ key }}" class="accordion-collapse collapse "
                                             aria-labelledby="heading{{ key }}" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="feature col">
                                                    <p class="mb-0 opacity-75">{{ document.description }}</p>
                                                    <a href="{{ document.link }}" class="icon-link mb-5 mt-3"
                                                       target="_blank"
                                                       rel="noopener noreferrer">
                                                        Смотреть документ
                                                        <svg class="bi" width="1em" height="1em">
                                                            <use xlink:href="#chevron-right"></use>
                                                        </svg>
                                                    </a>
                                                </div>
                                                {% if document.products %}
                                                    <div class="bd-example">
                                                        {% for product in document.products %}
                                                            <a class="text-decoration-none"
                                                                    href="{{ path('app_cabinet_document_list', {
                                                                'search':  product.title
                                                                }) }}"
                                                            >
                                                                <span class="badge bg-secondary">{{ product.title|upper }}</span>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% include 'components/pager.html.twig' with {'pager': result.pager} %}
                    {% else %}
                        {% include 'components/empty.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
