{% extends '/cabinet/index.html.twig' %}

{% block title %}{{ parent() }} | Покрытия{% endblock %}

{% block content %}
    <div class="col-lg-10 mx-auto p-4 py-md-5 ">
        <div class="d-flex flex-md-row align-items-center">
            <h2 class="text-body-emphasis">Поиск по материалам</h2>
        </div>
        <div class="col-lg-10 mx-auto p-4 py-md-5 ">
            <div class="d-flex flex-md-row align-items-center ">
                <form method="get" action="{{ path('app_cabinet_document_list') }}"
                      class="form-signin w-100 m-auto">
                    <div class="input-group mb-3">
                        <input type="text" value="{{ inputData.search }}" name="search"
                               class="form-control"
                               autocomplete="search" required autofocus placeholder="РС 750, Прометей ..."
                               minlength="3" maxlength="50"
                        >
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Искать</button>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            {% set categories = inputData is null ? [] : inputData.categories %}
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Дополнительно
                                    {% if categories|length > 0 %}
                                        <span class="badge bg-secondary m-1">{{ categories|length }}</span>
                                    {% endif %}
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {% if categoryTypes %}
                                        <div class="list-group w-100">
                                            {% for key, categoryType in categoryTypes %}
                                                <div class="form-check">
                                                    <input name="categories[]" class="form-check-input" type="checkbox"
                                                           value="{{ categoryType }}" id="inputCategoryType"
                                                            {% if categoryType in categories %} checked {% endif %}
                                                    >
                                                    <label class="form-check-label" for="inputCategoryType">
                                                        {{ key }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        Дополнительных параметров не предусмотрено
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>

        <div class="flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center">
            {% if result.documents %}
                <div class="list-group w-100">
                    {% for key, document in result.documents %}
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ key }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ key }}" aria-expanded="false"
                                            aria-controls="collapse{{ key }}">
                                        <div>
                                            <span class="badge bg-primary">{{ document.category }}</span>
                                            <h6 class="mb-0">{{ document.title|u.truncate(50, '...') }}</h6>
                                            <p class="mb-0 opacity-75">{{ document.description|u.truncate(150, '...') }}</p>
                                        </div>
                                    </button>
                                </h2>
                                <div id="collapse{{ key }}" class="accordion-collapse collapse "
                                     aria-labelledby="heading{{ key }}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="feature col">
                                            <h6>Описание</h6>
                                            <p class="mb-0 opacity-75">{{ document.description }}</p>
                                            <a href="{{ document.link }}" class="icon-link mb-5 mt-3" target="_blank"
                                               rel="noopener noreferrer">
                                                Смотреть документ
                                                <svg class="bi" width="1em" height="1em">
                                                    <use xlink:href="#chevron-right"></use>
                                                </svg>
                                            </a>
                                        </div>
                                        {% if document.products %}
                                            <div class="bd-example">
                                                {% for product in document.products %}
                                                    <span class="badge bg-secondary">{{ product.title }}</span>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include 'components/pager.html.twig' with {'pager': result.pager} %}
            {% else %}
                {% include 'components/empty.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
