{% extends 'emails/base.html.twig' %}

{% block title %}Новая компания на {{ app_name }}: {{ company.title }}{% endblock %}

{% block body %}
    <p>Здравствуйте, <strong>{{ user.profile.firstName ?? 'Пользователь' }}</strong>!</p>
    <p>
        Зарегистрирована новая компания <strong>{{ company.title }}</strong>. Это письмо отправлено автоматически на почту администратора портала {{ app_name }}.
    </p>
    <p><a class="btn" href="{{ companyViewPath }}">Посмотреть</a></p>
{% endblock %}
