{% extends 'emails/base.html.twig' %}

{% block title %}Регистрация в {{ app_name }}{% endblock %}

{% block body %}
    <p>Здравствуйте, <strong>{{ user.profile.fullName ?? user.login }}</strong>!</p>
    {% if user.company %}
        <p>Вы от компании {{ user.company.title }} зачислены на проверку знаний в {{ app_name }}.</p>
    {% else %}
        <p>Регистрация в {{ app_name }} прошла успешно.</p>
    {% endif %}

    <p><strong>Данные для входа:</strong></p>
    <ul class="data-list">
        <li><strong>Логин:</strong> {{ user.login }}</li>
        <li><strong>Пароль:</strong> {{ user.plainPass ?? 'скрыт' }}</li>
    </ul>

    <p class="warning">Не передавайте логин и пароль третьим лицам.</p>

    <p>
        <a class="btn" href="{{ path }}">Перейти в личный кабинет</a>
        <a class="btn btn-secondary" href="https://t.me/AmuletTest_support_bot" target="_blank">Техподдержка</a>
    </p>
{% endblock %}
