{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Кабинет{% endblock %}
    {% block body %}
        <div class="d-flex flex-nowrap">
            {% block menu %}
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                            id="menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <ul class="nav nav-pills flex-column mb-auto list-unstyled ps-0">
                                    <li>
                                        <a href="#submenu_admin" data-bs-toggle="collapse"
                                           class="nav-link px-0 align-middle text-secondary">
                                            <i class="fs-4 bi-bookmark-star"></i>
                                            <span class="ms-1 d-none d-sm-inline ">Админ-панель</span>
                                        </a>
                                        <ul class="nav flex-column ms-1" id="submenu_admin"
                                            data-bs-parent="#menu">
                                            <li class="w-100">
                                                <a href="{{ path('app_cabinet_coating_coating_list') }}" class="nav-link px-0 text-secondary
                                        {% if 'app_cabinet_coating_coating' in app.request.get('_route') %}fw-bold{% endif %}">
                                                    <i class="fs-6 bi-grid"></i>
                                                    <span class="d-none d-sm-inline"> Покрытия</span></a>
                                            </li>
                                            <li class="w-100">
                                                <a href="{{ path('app_cabinet_coating_manufacturer_list') }}"
                                                   class="nav-link px-0 text-secondary
                                        {% if 'app_cabinet_coating_manufacturer' in app.request.get('_route') %}fw-bold{% endif %}">
                                                    <i class="fs-6 bi-grid-1x2"></i><span
                                                            class="d-none d-sm-inline"> Производители</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{{ path('app_cabinet_proposals_general_proposal_list') }}"
                                   class="nav-link align-middle px-0 text-secondary
                                   {% if 'app_cabinet_proposals_general_proposal' in app.request.get('_route') %}fw-bold{% endif %}">
                                    <i class="fs-4 bi-files"></i><span
                                            class="ms-1 d-none d-sm-inline">Мои формы</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <div class="dropdown pb-4">
                            <a href="#"
                               class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                     class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1 text-secondary text-truncate">{{ (app.user.email)|slice(0, 10) ~ '...' }}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
                                aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block content %}
                <div class="col py-3">
                    <h3>Здесь будут данные для пользователя</h3>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

